@font-face {
    font-family: Flood;
    src: url('../fonts/Flood-Std-Regular.otf');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter.ttf');
}

:root {
    /* Mise en place des variables pour les couleurs */
    --white: #fff;
    --black: #000;
    --dark-blue: #354463;
    --light-green: #C1F7D5;
    --light-grey: #d3d3d3;
}

body {
    background-color: var(--white);
    /* width:376px; */
    margin:auto;
    /* Police pour la page */
    font-family: Inter, Arial, sans-serif;
    font-size: var(--text-default);
    min-width: 415px;
    position: relative;
    top:120px;
   
}

html {
    animation-name: start;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    background-color: var(--light-grey);
}

/* Transmet la couleur de l'élément parent de la balise a */
a {
    color: inherit;
    text-decoration: none;
}
/********* Titres *********/
h1,
.title {
    font-family: Flood;
    color: var(--light-green);
    text-shadow: 1px 1px 2px rgb(53, 53, 53), 0 0 1em rgba(45, 108, 30, 0.443), 0 0 0.2em rgba(0, 255, 8, 0.249);
    font-size: 44px;
    margin-bottom: 26px;
    transition: 800ms ease-in-out;
}

h2 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    transition: 800ms ease-in-out;
}

h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    transition: 800ms ease-in-out;
}

h4 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    transition: 800ms ease-in-out;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    transition: 800ms ease-in-out;
}

.center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.size-22 {
    font-size: 22px;
}

.citation {
    text-transform: uppercase;
    font-size: 12px;
}

/********* Couleurs *********/
.white {
    color: var(--white);
}

.blue {
    color: var(--dark-blue);
}

.green {
    color: var(--light-green);
}

.bcg-white {
    background-color: var(--white);
}

.bcg-blue {
    background-color: var(--dark-blue);
}

.bcg-green {
    background-color: var(--light-green);
}

/********* Bloc *********/
.btn-title {
    padding: 10px 0;
    width: 160px;
}



.bloc {
    padding: 30px;
    position: relative;
    text-align: center;
}

.p-absol {
    position: absolute;
    top: -20px;
}

.p-rel {
    position: relative;
}

.share {
    width: calc(80% - 18px);
}

/********* CTA *********/
.cta {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 0;
    border-radius: 100px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.cta.green{
    color: var(--dark-blue);
    background-color: var(--light-green);
}

.cta.white {
    color: var(--dark-blue);
    background-color: var(--white);
}

.cta.blue {
    color: var(--light-green);
    background-color: var(--dark-blue);
}

.cta.light {
    font-weight: light;
}

/********* Liens *********/
.link {
    font-size: 12px;
    text-decoration: underline;
}

/******** Width **********/
.w-160 {
    width: 160px;
}

.w-200 {
    width: 200px;
}

.w-auto {
    width: 100%;
}

.w-init {
    width: initial;
}

/********* Margin *********/
.m-auto {
    margin: auto;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mb30 {
    margin-bottom: 30px;
}

/********* Padding *********/
.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pt50 {
    padding-top: 50px;
}

.pt140 {
    padding-top: -20px;
    /* padding-top: 140px; */
}

/********* Flex *********/
.flex {
    display: flex;
}

.flex-center {
    flex-wrap: wrap;
    justify-content: center;
}

.flex-between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-around {
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

/********* Header *********/
header {
    position: fixed;
    z-index: 3;
    width: 100%;
    opacity: 90%;
    top:0;

    background-color: var(--white);
    margin-bottom: 20px;
    transition: 800ms ease-in-out;
}

header .slogan {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 18px;
    padding: 40px 0px 40px 0px;
    vertical-align: middle;
    line-height: 24px;
}


#menu_burger {
    position:fixed;
    z-index: 6;
    top : -10px;
    right: 0;
    width: 40px;
    height: 39px;
    margin: 30px 20px 20px 20px;
    border: #000 2px solid;
    border-radius: 5px;
}
#menu_burger .line {
    border: #000 2px solid;
    margin: 6.5px 5px 5px 5px;
}


#don {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   top: -120px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    transition: 800ms ease-in-out;
}

.navigation {
    position: absolute;
    z-index: -7;
    width: 100%;
    background-color: var(--white);
    top : -200px;
    left: 0px;
    padding: 0px 20px 40px 15px;
    transition: 300ms ease-in-out;
 
}

.menu_on {
    top : 120px;
    transition: 300ms ease-in-out;
}

.navigation ul li {
    padding: 0px 20px 20px 20px;
}

nav ul{
    display: flex;
    flex-direction: column;
   
}
nav ul li {
    padding:5px;
}

nav a {
    padding: 4px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
}

/********* Section *********/
section {
    position: relative;
    background-size: cover;
}

/********* Section 1 *********/
.section-1 {
    animation-name: bg-section1m;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    background-position:right;
    background-repeat: no-repeat;
    background-image: url('../img/substitution/Image_header_NORMAL.jpg');
    padding: 40px 30px;
}

/********* Section 2 *********/
.value {
    width: calc(50% - 40px);
    padding-bottom: 20px;
}

/********* Section 4 *********/
.section-4 {
  
    background-image: url('../img/substitution/Image_section2_NORMAL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 30px;
}

/********* Formulaire *********/
input {
    border: none;
    border-radius: 25px;
    padding: 10px;
}

button {
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 20px;
}

/********* Footer *********/
footer .value {
    margin-right: 30px;
}

footer ul li {
    font-size: 14px;
    text-decoration: underline;
    line-height: 20px;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

.title-mobile {
    display: block;
}
.title-desktop {
    display: none;
}

.section-3 img {
     width:100%;
min-width : 300px;
}

.section-6 .bloc-texte-right:nth-child(2) h2 {
    display: none;
}
.section-6 .bloc-texte-left h2 {
    display: none;
}


/*

.cta .green {
<element class="cta">
    ...
        ...
            <element class="green"></element>
        ...
    ...
</element>
}
.cta > .green{
    <element class="cta">
        <element class="green"></element>
    </element>
}


.cta.green {
    <element class="cta green"></element>
}

.cta, .green {
    <element class="cta"></element> OU
    <element class="green"></element>
}

.cta + .green {    
    <element class="cta"></element>    
    <element class="green"></element>
}

.cta~.green {    
    <element class="cta"></element> 
    ...
    ...  
    <element class="green"></element>
}

*/






@media screen and (min-width:1200px) {

    header {
        display: flex;
    }

    header .slogan {
        width: 100%;
    }

    .content-header {
        width: 90%;
        margin-left: 100px;
    }
    .w-auto {
        width: 30%;
    }

    #menu_burger {
        display: none;
    }
    #don {
        position: static;
    }

    .navigation {
        position: static;
        z-index: 2;
        background-color: transparent;
        padding: 0;
    }
    
    .navigation ul li {
        padding: 0; 
        min-width: fit-content;
    }
    
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: 800ms ease-in-out;
         }
       
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        nav ul li a {
            transition: 200ms ease-in-out;
        }
    nav ul li a:hover {
        font-size: 1.2rem;
        transition: 300ms ease-in-out;
    }


    .cta.green {
        width: max-content;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
    }

/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  SECTION 1  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/

.section-1 h3 {
    font-size: 38px;
    line-height: 50px;
    text-align: left;
    transition: 800ms ease-in-out;
}

.section-1 {
    display: flex;
    flex-direction: row-reverse;
    padding: 120px;
    transition: 500ms ease-in-out;
    background-image: url("../img/substitution/Image_header_NORMAL.jpg");
    background-size: 300%;
    transition: 800ms ease-in-out;

}

.section-1 .bloc {
    width: 50%;
    padding-left: 70px;
   
} 

.section-1 h1 {
    width: 50%;
    padding-left: 100px;
    font-size: 70px;
    padding-right: 40px;
    
}

.section-1 a {
    text-align: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
 
}



.section-1 .p-absol {
    left:40px;
}

/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  SECTION 2  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/


.section-2 {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    transition: 800ms ease-in-out;
}

.value {
    width : calc(25% - 40px);
}


.section-2 .p-absol {
    left: calc(50% - 160px/2);
}


/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  SECTION 3  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/

.section-3 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    transition: 800ms ease-in-out;
}

.section-3 .bloc {
    width: 270px;
    margin: 27px;
    text-align: left;
}

.section-3 h3 {
    font-size: 38px;
    line-height: 50px;
    text-align: left;
    padding-top: 70px;
    margin-left: 50px;
    
}
.section-3 .bloc h3 {
    font-size: 20px;
    line-height: 26px;
    padding-top: 25px;
  margin-left: -2px;
   
}

.section-3 img {
    width: 115%;
    margin-top: -55px;
    margin-left: 10px;
    opacity: 1;
    transition: 200ms ease-in-out;
    box-shadow: black 2px 2px 5px , rgba(57, 208, 77, 0.25) 2px 2px 2px 2px;

}


.section-3 img:hover {
    opacity: 95%;
    width: 115%;
    margin-top: -60px;
    margin-left: -10px;
    transition: 200ms ease-in-out;
}



.section-3 .btn-title {
    position: absolute;
    left: 150px;
}
.section-3 .p-absol {
    margin-top: 50px;
    left: 40px;
}


/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  SECTION 4  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/


.section-4 {
    display: flex;
    flex-direction: row;
    padding: 100px;
    background-image: url("../img/substitution/Image_section2_NORMAL.jpg");
    background-position-y:bottom;
}


.section-4 .bloc {
    width: 70%;
}



.blocgauche-desktop {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 65px;
    
}
.blocdroit-desktop {
    display: flex;
    flex-direction: column;
    width: 40%;
}




.section-4 .p-absol {
 
    left: 40px;
}


/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  SECTION 5  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/

.section-5 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}

.section-5 .bloc {
    text-align: left;
    width: 30%;
    height: fit-content;
    position: relative;
    left: 40px;
    top: 40px;
}

.section-5 img {
    width: 100%;    
    height: 400px;
}
/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  SECTION 6  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/

.title-mobile {
    display: none;
}
.title-desktop {
    display: block;
    text-align: left;
    margin-bottom: 50px;
}



.section-6 .bloc-top {
    display: flex;
    flex-direction: row;
    height: 280px;
    justify-content: center;
    margin-bottom: 70px;
}
    .section-6 .bloc-top img {
        width: 103%;
        height: 115%;
    }
        .section-6 .bloc-top h2 {
            display: none;    
        }   
        .section-6 .bloc-texte-right {
            width: 30%;
        }
            .section-6 .bloc-texte-right h3,
            .section-6 .bloc-texte-right p {
                text-align: left;
            }
                .section-6 .bloc-texte-right .cta {
                    margin-left: 20px;
                }
                    .section-6 .bloc-texte-right .btn-title {
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                        .section-6 .bloc-texte-right:nth-child(2) h2 {
                            display:block;
                            position: relative;
                        
                        }




.section-6 .bloc-bot {
    display: flex;
    flex-direction: row-reverse;
    height: 280px;
    justify-content: center;
    margin-bottom: 50px;
 
}
    .section-6 .bloc-bot img {
        width: 107%;
        height: 145%;  
        margin-top: -51px;
    }
    .section-6 .bloc-bot h2 {      
            display: none; 
        
        }   
        .section-6 .bloc-texte-left {
            width: 30%;
        }
            .section-6 .bloc-texte-left h3,
            .section-6 .bloc-texte-left p {
                text-align: left;
            }
                .section-6 .bloc-texte-left .cta {
                    margin-left: 20px;
                }
                    .section-6 .bloc-texte-left .btn-title {
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                        .section-6 .bloc-bot .bloc-texte-left h2 {
                            display: block; 
                            position: relative;  
                           
                        
                        }

/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  NEXS LETTER  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/

.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsletter h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.newsletter input {
    margin-right: 30px;
}
/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  FOOTER  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    flex-direction: row;
}


footer div {
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer div div {
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
}


}


/* ----------------------------------------------------------------------------------------------*/
/* ---------------------------------------  ANIMATION  ------------------------------------------*/
/* ----------------------------------------------------------------------------------------------*/


@keyframes bg-section4 {
    0% {background-position-x: 0px;
        background-position-y: 0px;
        background-size: 100%;}
    60% {background-position-y: -10px;
        background-position-x: -5px}
    75% {background-size: 105%;}
    100% {background-position-x: 0px;
        background-position-y: 0px;
        background-size: 100%;}
    }
        

        

@keyframes bg-section1 {
    0% {background-position-x: 0px;
        background-position-y: 0px;
        background-size: 300%;}
    60% {background-position-y: -5px;
        background-position-x: -10px}
    75% {background-size: 302%;}
    100% {background-position-x: 0px;
        background-position-y: 0px;
        background-size: 300%;}
    }
@keyframes bg-section1m {
    0% {background-position-x: 0px;
        background-position-y: 0px;
        background-size: 210%;}
    60% {background-position-y: -5px;
        background-position-x: -10px}
    75% {background-size: 205%;}
    100% {background-position-x: 0px;
        background-position-y: 0px;
        background-size: 210%;}
    }
@keyframes start {
    0%  {opacity:0%;}
    100% {opacity: 100%;}
    
}



        